@import (reference) "../vendors/todc/less/todc-bootstrap.less";
@import (reference) "./variables.less";
@import (reference) "./mixin.less";

*[type="text/icescrum-template"] {
  display: none;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  &.isInFullScreen {
    header {
      display: none;
    }
  }
  > ul.dropdown-menu {
    z-index: 2000;
  }
  &.loading {
    cursor: progress;
    &.splash-screen {
      > #application-loading {
        .make-row();
        display: block;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        .translate(0, -50%);
        .logo {
          height: 250px;
          width: 250px;
          margin-left: 50%;
          .translate(-50%; 0);
        }
        .loading-circle {
          stroke: @navbar-masthead-default-bg;
          stroke-width: 10px;
          stroke-linecap: butt;
        }
        .loading-text {
          font-size: 16px;
          font-weight: bold;
          margin-left: 10px;
          padding-left: 10px;
        }
      }
      > .container-fluid, header {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  .loading-text {
    display: none;
  }
  &.application-ready {
    &.splash-screen {
      .loading-text {
        display: block;
      }
      .modal {
        display: none !important;
      }
    }
  }
  > #application-loading {
    display: none;
  }
}

header {
  background-color: @navbar-masthead-inverse-bg;
  border-color: @navbar-masthead-inverse-border;
  .navbar-toggle {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  > nav#menu-header {
    margin-bottom: 0;
    border-radius: 0;
    background: none;
    border-color: transparent;
    li > a > i.fa {
      margin-right: 3px;
      vertical-align: -10%;
    }
  }
  .logo {
    margin-left: -20px;
    margin-bottom: -15px;
    margin-top: -15px;
  }
  .navbar-fa {
    margin: 9px 5px 0 5px;
    height: 28px;
    position: relative;
    cursor: pointer;
    .fa {
      font-size: 28px;
      color: #fff;
    }
  }
  .navbar-whatsNew {
    .fa {
      color: @logo-color-top;
    }
  }

  .navbar-notif {
    .fa {
      &:not(.empty) {
        color: @logo-color-top;
      }
      font-size: 25px;
      line-height: 25px;
      &:not(.empty) {
        margin-right: 8px;
      }
    }
    .badge {
      color: @logo-color-top;
      position: absolute;
      top: 18px;
      left: 11px;
      font-size: 0.8em;
      background: none;
    }
    height: 25px;
  }
  .navbar-masthead {
    margin-bottom: 0;
    .navbar-nav {
      margin: 8px 0;
    }
    a.link {
      color: #fff;
    }
    .navbar-nav.menubar {
      > li {
        > a, > a:hover {
          color: #fff;
        }
        &.as-sortable-placeholder {
          border-color: #fff;
        }
        > .dropdown-menu {
          > .as-sortable-placeholder {
            border-color: #000;
            margin: 3px 30px;
          }
        }
        &.menuitem {
          border: 1px solid transparent;
          margin-top: -2px;
          &.active {
            > a {
              color: #fff;
              font-weight: bold;
              background: none;
            }
            @media (min-width: @grid-float-breakpoint-max) {
              &:after {
                position: absolute;
                bottom: -11px;
                left: 50%;
                display: inline-block;
                margin-left: -8px;
                content: '';
                border-right: 8px solid transparent;
                border-bottom: 8px solid @body-bg;
                border-left: 8px solid transparent;
              }

              &#project:after {
                border-bottom-color: @view-bg;
              }
            }
          }
        }
        > a {
          padding: 5px;
          padding-left: 10px;
          font-size: 14px;
        }
      }
    }
    .navbar-right {
      form.navbar-form {
        @media (min-width: @grid-float-breakpoint) {
          .form-control {
            max-width: 150px;
          }
        }
        .search {
          .context {
            .text-overflow();
            max-width: 100px;
            vertical-align: top;
            display: inline-block;
          }
          &:hover {
            .search-status.fa-times:before {
              content: "\f00d";
            }
          }
          &:not(:hover) {
            .search-status.fa-times:before {
              content: "\f0b0";
            }
          }
        }
      }
      margin-right: 0;
    }
    &.invert {
      color: #000;
      a.link {
        color: #000;
      }
      .navbar-nav {
        li a, li a:hover {
          color: #000;
        }
        .dropdown.open a {
          background: none;
          color: #000;
        }
        &.menubar {
          > li {
            &.menuitem {
              &.active {
                > a {
                  color: #000;
                }
              }
              > a {
                color: #000;
              }
            }
          }
        }
      }
      .navbar-right {
        .navbar-notif .fa, .navbar-home .fa, .navbar-notif .badge {
          color: #000;
        }
      }
    }
  }
  .navbar-home {
    margin-right: 10px;
  }
  .navbar-user {
    margin-top: 6px;
    cursor: pointer;
  }
  .notifications {
    .disable-text-selection;
    width: 500px;
    max-height: 500px;
    overflow: auto;
    padding: 15px;
    .media {
      opacity: 0.5;
      &.unread, &:hover {
        opacity: 1;
      }
    }
    h4 {
      margin: 0;
      a {
        color: #000;
      }
    }
  }
  .profile-panel {
    width: 400px;
    padding: 15px;
    .btn-toolbar {
      margin-top: 10px;
      .btn {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  .main-dropdown-menu {
    max-width: 250px;
    li.project a {
      .text-overflow();
      &.active {
        font-weight: bold;
      }
    }
    li span.current-project-name {
      display: inline-block;
      float: right;
      clear: both;
    }
  }
}

.as-sortable-drag {
  &.navbar-nav.menubar {
    margin: 8px 0;
    > li {
      &.menuitem {
        border: 1px solid transparent;
        > a {
          color: #fff;
          font-weight: bold;
          background: none;
          padding: 4px;
          font-size: 14px;
        }
      }
    }
  }
}

.container-fluid.main {
  opacity: 1;
  width: 100%;
  padding: 0;
  background: @view-bg;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  //view
  > .view {
    padding-top: 0;
    padding-bottom: 0;
    > .navbar-toolbar {
      padding: 5px 5px 0;
      border: none;
      margin-bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);
      > .container-fluid {
        padding: 0;
        margin: 0;
        .btn-toolbar:first-child {
          margin-left: 0;
          :first-child {
            margin-left: 0;
          }
        }
      }
    }
    //col-md etc..
    > div {
      .panel  {
        position: relative;
        > div.panel-heading {
          padding: 10px;
          > .btn-toolbar {
            margin-left: 0;
            div:first-child {
              margin-left: 0;
            }
          }
        }
        > div.panel-body {
          width: 100%;
          padding-top: 0;
          padding-bottom: 0;
          div.loading-logo {
            display: none;
          }
          &.loading {
            > div.loading-logo {
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              z-index: 1000;
              margin-left: -50px;
              opacity: 1;
              .logo {
                height: 100px;
                width: 100px;
              }
            }
            > div:not(.loading-logo) {
              opacity: 0;
            }
          }
          > div:not(.loading-logo) {
            -webkit-transition: opacity 0.1s ease-in-out;
            -moz-transition: opacity 0.1s ease-in-out;
            -ms-transition: opacity 0.1s ease-in-out;
            -o-transition: opacity 0.1s ease-in-out;
          }
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
    > .content {
      .make-md-column(12);
      padding: 0;
      > .panel {
        border: 0;
        .panel-heading {
          > .btn-toolbar {
            margin-left: 0;
          }
        }
      }
      // TODO check or improve way to space columns in dashboard  home
      .widget-column {
        .make-md-column(6);
        div.panel-container:not(:last-child) {
          margin-bottom: @grid-gutter-width / 2;
        }
        @media (max-width: @screen-xs-max), (max-width: @screen-sm-max) {
          &:last-child div.panel-container:first-child {
            margin-top: @grid-gutter-width / 2;
          }

          div.panel-container {
            margin-bottom: @grid-gutter-width / 2;
          }
        }
        @media (min-width: @screen-md-min) {
          &:nth-child(1) {
            padding-right: (@grid-gutter-width / 4);
          }

          &:nth-child(2) {
            padding-left: (@grid-gutter-width / 4);
          }
        }
      }
      // end TODO
    }
    > [ui-view='details'] {
      display: none;
    }
    &.with-details {
      @media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
        .minimizable, .detachable {
          display: none;
        }
      }
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        > .content {
          .make-sm-column(12);
        }
        .detachable {
          display: none;
        }
        .detached();
      }
      @media (min-width: @screen-md-min) {
        .minimizable {
          display: none;
        }
        &.detached {
          .detached();
          .minimizable {
            display: block;
          }
        }
      }
      @media (min-width: @screen-md-min) and (max-width: 1400px) {
        > .content {
          .make-md-column(7);
        }

        > [ui-view='details'] {
          .make-md-column(5);
        }
      }
      @media (min-width: 1401px) {
        > .content {
          .make-md-column(8);
        }

        > [ui-view='details'] {
          .make-md-column(4);
        }
      }
      > .content {
        padding: 0;
      }

      > [ui-view='details'] {
        display: block;
        padding: 0;
      }
    }
    &.flex {
      margin-bottom: 0;
    }
  }
}

.detached() {
  > .content {
    .make-md-column(12);
    padding: 0;
  }

  > [ui-view='details'] {
    z-index: 10;
    bottom: 0;
    top: 145px;
    right: 30px;
    > .panel-light {
      border-left-width: 0px !important;
    }
    @media (max-width: @screen-sm-max) {
      width: 500px;
    }
    @media (min-width: @screen-md-min) {
      width: 558px;
    }
    position: absolute;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 10px solid #f8f8f8;
  }
  &.minimized {
    > [ui-view='details'] {
      top: auto;
      height: 55px;
      .item-name {
        display: inline-block;
        .text-overflow();
      }
      @media (max-width: @screen-sm-max) {
        .item-name {
          max-width: 80px;
        }
        width: 500px;
      }
      @media (min-width: @screen-md-min) {
        .item-name {
          max-width: 100px;
        }
        width: 558px;
      }
      .right-title {
        max-width: none;
        > div:first-of-type {
          display: inline;
        }
        > div.btn-group {
          float: left;
          margin-right: 10px;
          &.dropdown {
            .dropdown-menu {
              //dropup
              top: auto;
              bottom: 100%;
              margin-bottom: 2px;
            };
          }
        }
      }
    }
  }
}

.container-fluid.main > .view&.with-details, .modal-details > .modal-body {

  > [ui-view='details'] {
    > .panel {
      border-width: 0;
      border-left-width: 1px;
      > .panel-heading {
        padding: 0;
        > .panel-title {
          padding: 15px 15px 0;
        }
      }
    }
    > .panel > [ui-view='details-tab'] {
      .chart {
        padding: 10px 10px 0;
        margin-bottom: 10px;
        border: 1px solid #e5e5e5;
      }
      form.form-editable:not(:hover):not(.form-editing), form:not(.form-editable) {
        .form-control {
          background: none;
          border-color: transparent;
          cursor: text;
          box-shadow: none;
          resize: none;
        }
        .markitup-preview {
          border-color: transparent;
        }
        .input-group-btn {
          visibility: hidden;
        }
        .input-group-addon {
          border-right: 1px solid #d9d9d9;
        }
        .select2-container {
          box-shadow: none;
          .select2-choice, .select2-choices {
            &, &:hover {
              background: none;
              border-color: transparent;
              cursor: text;
              box-shadow: none;
              .select2-arrow {
                display: none;
              }
              .select2-search-choice-close {
                display: none;
              }
            }
          }
        }
        .form-group div {
          border-color: transparent;
        }
      }
      form.form-editable:not(.form-editing) {
        .select2-container {
          .select2-search-choice {
            .select2-search-choice-close {
              display: none;
            }
          }
        }
      }
      form.form-editable {
        .panel-footer {
          .responsive-invisibility();
        }
        &.form-editing {
          .panel-footer {
            .responsive-visibility();
          }
        }
      }
      form.form-editable:hover {
        .input-group-addon {
          border-right: 0;
        }
      }
      form:not(.form-editable) {
        .panel-footer {
          .responsive-invisibility();
        }
      }
      form {
        .markitup-preview, .atwho-preview, .form-control {
          &.important {
            &:not(:focus) {
              background-color: @view-bg !important;
            }
          }
        }
      }
      .panel-footer {
        padding: 0;
        > div:first-child {
          padding: 15px;
        }
      }
    }
  }
}

.form-not-expanded {
  .form-group {
    margin-bottom: 0;
  }
  .has-error .form-control, .has-error .input-group-addon {
    border: 1px solid #d9d9d9;
    color: #555555;
  }
  .btn-toolbar .btn, .spaced-help-block, .hidden-not-expanded, .input-group-addon strong {
    display: none;
  }
  textarea, .form-group-markItUp + .markitup-preview:not(.no-fixed-height) {
    min-height: 30px;
    height: 30px !important;
    overflow: hidden !important;
  }
}

.form-expanded {
  .visible-hidden {
    display: none;
  }
}

.panel-heading {
  .states-container {
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    padding: 15px;
  }
}

.modal-dialog [ui-view="details"] {
  .panel-heading {
    padding: 0;
    .panel-title {
      padding: 15px 15px 0;
    }
  }
}

.nav-tabs-is {
  &.nav-tabs {
    & > li > a {
      margin-right: 0;
      border-radius: 0;
      &:hover .fa-border {
        border-color: #666;
      }
      .text-overflow();
    }
    & > li.active > a {
      color: @brand-primary;
      font-weight: bold;
      &:hover .fa-border {
        border-color: @brand-primary;
      }
    }
  }
  &.nav-justified {
    li:first-of-type a {
      border-left-color: transparent;
    }
    li:last-of-type a {
      border-right-color: transparent;
    }
    li > a {
      border-radius: 0;
    }
  }
  .dropdown-more {
    .badge {
      left: -10px;
      top: 28px;
    }
  }
}

.view > .content .nav-tabs-is {
  &.nav-tabs {
    > li.active + li.active {
      > a {
        border-left-color: transparent;
      }
    }
    > li > a {
      min-width: 100px;
      max-width: 200px;
      padding: 12px 15px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      &:hover {
        .fa-bookmark {
          visibility: visible !important;
        }
      }
    }
    > .btn-toolbar {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-right: 10px;
    }
  }
}

.right-title {
  .btn-default {
    position: relative;
  }
  .badge {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 15px;
    margin-left: 5px;
    background: none;
    text-align: right;
    font-weight: bold;
    color: @gray-dark;
  }
  .btn-group.shortcut-menu > a {
    .text-overflow();
    display: inline-block;
  }
}

@media (max-width: @screen-xs-max) {
  .left-title {
    max-width: 60%;
  }
  .right-title {
    max-width: 40%;
  }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  .left-title {
    max-width: 50%;
  }
  .right-title {
    max-width: 50%;
    .btn-group.shortcut-menu > a {
      max-width: 130px;
    }
  }
}
@media (min-width: @screen-md-min) {
  .left-title {
    max-width: 60%;
  }
  .right-title {
    max-width: 40%;
    .btn-group.shortcut-menu > a {
      max-width: 100px;
    }
  }
}
@media (min-width: @screen-md-max) and (max-width: @screen-lg-min) {
  .left-title {
    max-width: 60%;
  }
  .right-title {
    max-width: 40%;
    .btn-group.shortcut-menu > a {
      max-width: 130px;
    }
  }
}
@media (min-width: @screen-lg-min) {
  .left-title {
    max-width: 60%;
  }
  .right-title {
    max-width: 40%;
    .btn-group.shortcut-menu > a {
      max-width: 130px;
    }
  }
}

.panel.panel-light {
  margin-bottom: 0;
  .panel-default;
  border-radius: 0;
  border-bottom-width: 1px;
  > .panel-heading {
    .panel-title {
      font-size: 20px;
      &.small-title {
        font-size: 15px;
        .sub-title {
          margin-top: 3px;
          font-size: 13px;
        }
      }
    }
    .panel-border {
      margin-top: 8px;
      margin-bottom: 6px;
    }
  }
  > .panel-footer {
    .panel-border {
      border-top: 1px solid #eee;
    }
  }
}

table {
  tr {
    td {
      padding: 5px;
      &.avatar {
        width: 30px;
        padding-right: 0;
      }
    }
  }
  &.table {
    > thead > tr > th {
      border-bottom-width: 1px;
    }
    > tbody + tbody {
      border-top-width: 1px;
    }
  }
}

.table-scrollable {
  margin-top: 10px;
  overflow: auto;
  > table {
    .table-bordered;
    width: auto;
    > tbody {
      > tr {
        > td, th {
          min-width: floor((@modal-md - 2*@modal-inner-padding) / 3);
        }
        > td.title, th.title {
          min-width: 100px;
          font-size: 1.3em;
        }
        th, td.title, th.title {
          font-size: 1.3em;
          position: relative;
          .badge {
            font-weight: bold;
            display: inline-block;
            position: absolute;
            right: 5px;
            top: 5px;
          }
        }
        > td:not(.title) {
          padding: 0;
          > table {
            .table-bordered;
            border: none;
            td {
              border-left: none !important;
              border-right: none !important;
              &:first-of-type {
                border-top: none;
              }
            }
          }
        }
      }
    }
  }
}

.empty-content {
  width: 100%;
  padding: 10px;
}

.empty-view {
  max-width: 500px;
  margin: auto;
}

.popover.error {
  .popover-content {
    max-height: 200px;
    overflow: auto;
  }
}

#popover-user {
  left: auto !important;
  right: 10px;
  top: 39px !important;
  & > .arrow {
    left: auto;
    right: 12px;
    top: -10px;
  }
  .popover-content {
    width: 270px;
    padding: 0;
    .panel {
      margin-bottom: 0;
    }
    .panel-body {
      padding: @grid-gutter-width / 2;
      > img {
        margin-right: 10px;
      }
    }
    .panel-footer {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.progress.form-bar {
  padding: 3px;
  margin-bottom: 0;
  position: relative;
  .progress-empty {
    display: block;
    padding: 5px 0;
  }
  .progress-bar {
    span {
      display: inline-block;
      padding: 6px 0;
    }
  }
  &::after {
    width: 0;
    content: ' ';
    height: 0;
    top: 0;
    right: 0;
    position: absolute;
  }
}

.well {
  .well;
  padding: 10px;
  margin-bottom: 0;
}

// Allow placeholder when sortable container is empty
.as-sortable-un-selectable #view-home *[as-sortable], .postits[as-sortable] {
  min-height: 60px;
}

.error-template {
  background: @view-bg;
  padding: 40px 15px;
  text-align: center;
  h1 {
    margin-top: 0;
  }
  .logo {
    width: 150px;
    height: 150px;
    margin-left: -30px;
  }
  .error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .error-actions .btn {
    margin-right: 10px;
  }
}

.simple-template {
  overflow: auto;
  background: @view-bg;
  padding-top: 50px;
  .logo {
    height: 80px;
    width: 80px;
  }
}

.comments, .tasks, .activities, .stories {
  .name {
    line-height: 19px;
    strong {
      font-size: 15px;
    }
  }
  .form-control-static {
    display: block;
    padding-left: 9px;
    padding-right: 9px;
  }
  hr {
    width: 50%;
    margin: 10px auto;
  }
  > div:last-of-type {
    hr {
      display: none;
    }
  }
  .table {
    td {
      padding: 0;
      border: none;
    }
  }
  .markitup-preview {
    min-height: inherit;
    max-height: inherit;
  }
}

.stories {
  .description {
    background-color: #fafafa;
  }
}

.content {
  .backlogs-list {
    background: @panel-bg;
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    h4 {
      padding-left: 10px;
    }
    .btn-toolbar {
      padding: 10px;
      margin-left: 0;
      div:first-child {
        margin-left: 0;
      }
      .pull-right {
        > div.btn-group:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .backlogs-list-details {
    height: 1px;
    .make-flex-container(row);
    > .panel {
      .make-flex-panel();
      > .panel-body {
        padding-top: 0;
        padding-bottom: 0;
      }
      > .panel-heading > .panel-title .title {
        line-height: 30px;
      }
      border: 0 #EEE;
      border-right: 1px solid #EEE;
      &:last-of-type {
        border-right-width: 0;
      }
    }
  }
}

.content {
  .elements-list {
    border-bottom: 1px solid #ddd;
    max-height: 52px; // Prevents tabs from being displayed on a second line
    .nav-tabs {
      border-bottom-style: none;
      #elementslist-more > a {
        min-width: 0;
      }
      &.dropdown-menu > li {
        float: none;
      }
    }
    .as-sortable-dragging {
      display: block;
      padding: 0;
    }
  }
}

#view-taskBoard {
  > .content {
    .panel-body {
      padding: 0;
    }
    .panel-heading {
      z-index: 99;
    }
    table {
      tr.cloned > td, tr.cloned > th, tr.native-sticky > th, tr.native-sticky > td {
        background: #fff;
        border-top: none;
      }
      th {
        text-align: center;
        position: relative;
        .badge {
          padding-left: 4px;
          position: absolute;
          top: 14px;
        }
      }
      td {
        padding: 4px;
        &.list-group {
          padding: 0;
        }
        &.show-tasks {
          position: relative;
          height: 50px; //at least this height
          .btn {
            opacity: 0.5;
            margin-top: -15px;
            .vertical-align;
            .horizontal-align;
          }
          &:hover {
            .btn {
              opacity: 1;
            }
          }
        }
      }
      .sticky-header.cloned > td {
        padding-top: 4px;
      }
      tbody:last-of-type tr:last-of-type td {
        border-bottom: none;
      }
    }
  }
}

#view-home {
  .widget-tasks {
    .panel-body > div {
      .list-group-header {
        background: #fff;
      }
    }
  }
  .widget .panel-light {
    margin-bottom: 20px;
  }

  .widget-quickProjects {
    .panel-body {
      text-align: center;
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      > div:not(:first-of-type) {
        margin-left: 10px;
      }
    }
  }

  .widget-backlogChart {
    .panel-heading {
      margin-top: 0;
    }
    .panel-body {
      svg {
        margin-top: -18px
      }
      .caption {
        left: 0;
        right: 0;
        bottom: 10px;
        position: absolute;
        text-align: center;
      }
    }
  }

}

@panel-height: 250px;
@panel-head-height: 43px;
@panel-margin-bottom: 20px;
@panel-border-height: 0px;

.widgets {
  .widget {
    .btn-settings {
      top: 10px;
      right: 10px;
      position: absolute;
    }
    .panel-heading {
      h3 {
        .text-overflow();
        > a {
          display: inline-block;
          .text-overflow();
        }
      }
    }
    &.widget-height-1 {
      .panel-body {
        height: @panel-height - (@panel-head-height + @panel-margin-bottom + @panel-border-height * 2);
      }
    }

    &.widget-height-2 {
      .panel-body {
        height: (@panel-height*2) - (@panel-head-height + @panel-margin-bottom + @panel-border-height * 2);
      }
    }

    &.widget-height-3 {
      .panel-body {
        height: (@panel-height*3) - (@panel-head-height + @panel-margin-bottom + @panel-border-height * 2);
      }
    }
    &.widget-width-1 {
      .make-md-column(2);
    }
    &.widget-width-2 {
      .make-md-column(4);
    }
    &.widget-width-3 {
      .make-md-column(6);
    }
    > div.panel {
      .panel-body {
        padding-top: 0;
        overflow-y: auto;
      }
    }
  }
  .as-sortable-placeholder {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  &.as-sortable-drag {
    .widget {
      width: 100% !important;
      .panel-heading {
        padding: 10px;
      }
    }
  }
}

#view-planning {
  .timeline {
    height: 108px;
    margin-bottom: 3px;
    .axis {
      text {
        font: 11px sans-serif;
      }
      path {
        display: none;
      }
      line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
    }
    .timeline-background {
      fill: #fff;
    }
    .grid {
      line, path {
        fill: none;
        stroke: #fff;
        shape-rendering: crispEdges;
      }
      .minor.tick line {
        stroke-opacity: .5;
      }
    }
    .brush .extent {
      stroke: #aaa;
      stroke-width: 2;
      fill-opacity: .075;
      shape-rendering: crispEdges;
    }
    .sprint, .release {
      //stroke: #ccc;
    }
    .version {
      text, path {
        fill: #ccc;
      }
      &.selected {
        text, path {
          fill: #777;
        }
      }
    }
    .today {
      fill: #FFCC04;
    }
    .sprint-text {
      fill: #ccc;
      &.selected {
        fill: #FFF;
      }
    }
    .selected {
      &.release-default {
        fill: @state-suggested;
      }
      &.release-progress {
        fill: @state-inProgress;
      }
      &.release-done {
        fill: @state-done;
      }
      &.sprint-default {
        fill: lighten(@state-suggested, 5%);
      }
      &.sprint-progress {
        fill: lighten(@state-inProgress, 5%);
      }
      &.sprint-done {
        fill: lighten(@state-done, 5%);
      }
    }
    .release-default {
      fill: @state-suggested-light;
    }
    .release-progress {
      fill: @state-inProgress-light;
    }
    .release-done {
      fill: @state-done-light;
    }
    .sprint-default {
      fill: darken(@state-suggested-light, 5%);
    }
    .sprint-progress {
      fill: darken(@state-inProgress-light, 5%);
    }
    .sprint-done {
      fill: darken(@state-done-light, 5%);
    }
  }
}

#view-project {
  .panel-light .panel-body {
    margin-bottom: 10px;
  }
}

.apps-modal {
  .app-details {
    h3 {
      margin-top: 0;
    }
    p.description {
      max-height: 165px;
      overflow-y: auto;
    }
    .thumbnail {
      padding: 5px;
      margin-bottom: 0;
      img {
        border: 1px solid #ccc;
      }
      &.col-md-12 img {
        width: 406px;
        height: 255px;
      }
      &.col-md-6 img {
        width: 406px/2;
        height: 255px/2;
      }
      &.col-md-4 img {
        width: 406px/3;
        height: 255px/3;
      }

    }
    .actions {
      > img {
        width: 100px;
        height: 100px;
        padding: 10px;
      }
      .btn {
        width: 100%;
      }
    }
    .table.information {
      margin-bottom: 0;
    }
  }
  .app-list {
    margin-top: 15px;
    height: 385px;
    overflow: auto;
    .app-logo {
      position: relative;
      display: inline-block;
      > img {
        border: 1px solid lightgrey;
        width: 75px;
        height: 75px;
      }
    }
  }
  .more-results {
    margin: 10px;
  }
}

.ribbon {
  position: absolute;
  top: 0;
  right: 0;
  .new-app, .enabled-app {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 15px;
  }
  .new-app {
    background: @brand-warning;
  }
  .enabled-app {
    background: @brand-primary;
  }
}

li {
  .ribbon {
    top: 14px;
    right: 5px;
  }
}

.postits {
  clear: both;
  overflow: hidden;
  margin-bottom: 0;
  &.postits-disabled .postit-container {
    button, a {
      pointer-events: none;
      cursor: default;
    }
    .action:not(.active) {
      display: none !important;
    }
  }
}

//flex
body {
  display: flex;
  flex-direction: column;
  > .main {
    height: 100%;
    overflow-y: auto;
    .make-flex-container(column, 1, 1);
    > .view.flex {
      .make-flex-container();
      > .content {
        .make-flex-container(column, 1, 1);
        > .panel {
          .make-flex-panel();
          > .panel-body {
            padding-top: 0;
          }
        }
        > .panel.form-inside {
          > form {
            .make-flex-panel();
          }
        }
      }
      &.with-details {
        overflow: hidden;
        flex-direction: row;
        [ui-view="details"] {
          .make-flex-container();
          > .panel {
            .make-flex-container();
            > [ui-view="details-tab"], > [ui-view="details-tab"] > form, > .details-no-tab, > .details-no-tab > form {
              .make-flex-panel();
              overflow: auto;
              height: 1px;
            }
          }
        }
      }
    }
  }
}

//to be able to process print chart without be seen
[size='chart invisible'] {
  visibility: hidden;
  & + .modal-backdrop.in {
    opacity: 0;
  }
}

.modal .modal-dialog.modal-wide {
  width: 85%;
}

.modal-content.modal-details {
  .modal-body {
    .panel.panel-light {
      border: none;
      margin-bottom: 0;
      .nav-justified li > a {
        border-radius: 0;
      }
    }
    padding: 0;
  }
}

.toggle-visible {
  .responsive-invisibility();
}

.toggle-hidden {
  .responsive-visibility();
}

.toggle-container:hover {
  .toggle-visible {
    .responsive-visibility();
  }
  .toggle-hidden {
    .responsive-invisibility();
  }
}

.uib-datepicker-popup {
  z-index: 9999; // Ensure that it's in front in modals
}

.help-block.spaced-help-block {
  padding: 2px 5px;
}

.sprints-dropdown {
  margin-right: 20px;
  float: left;
  .fa-caret-down {
    position: absolute;
    right: -20px;
    top: 7px;
  }
  > ul.dropdown-menu {
    max-height: 400px;
    overflow-x: auto;
    > li > a {
      line-height: 16.5px;
      font-size: 15px;
      padding: 3px 12px;
    }
  }
}

.fa-xl {
  font-size: 1.666em;
  line-height: .80em;
  vertical-align: -25%
}

.loadable {
  div.loading-logo {
    display: none;
  }
  &.loading {
    > div.loading-logo {
      display: block;
      position: absolute;
      top: 42%;
      left: 50%;
      margin-top: 10px;
      z-index: 1000;
      margin-left: -42px;
      opacity: 1;
      .logo {
        height: 80px;
        width: 80px;
      }
    }
    > :not(.loading-logo) {
      opacity: 0;
    }
    > .loading-always-visible {
      opacity: 1;
    }
  }
}

.buttons-margin-bottom .btn {
  margin-bottom: 5px;
}

.mobile {
  .split-modal {
    .left-panel {
      min-height: 0;
      background-color: #fff;
      .left-panel-body {
        height: auto;
      }
    }
  }
  &.mobile-xs {
    .wizard {
      .left-panel {
        min-height: 0;
        ul.nav-list {
          display: inline;
          li {
            display: inline-block;
          }
        }
      }
    }
    .with-details {
      > .content {
        opacity: 0.5;
      }
      div[ui-view="details"] {
        position: absolute !important;
        top: 42px;
        left: 20px;
        right: 0;
        bottom: 0;
      }
    }
    .modal-body, .with-details {
      div[ui-view="details"], .modal-body {
        .nav-tabs.nav-justified > li {
          display: table-cell;
          width: 1%;
        }
        .nav-tabs.nav-justified > li > a {
          margin-bottom: 0;
        }
        .nav-tabs.nav-justified > li > a {
          border-bottom: 1px solid #ddd;
          border-radius: 4px 4px 0 0;
        }
        .nav-tabs.nav-justified > .active > a,
        .nav-tabs.nav-justified > .active > a:hover,
        .nav-tabs.nav-justified > .active > a:focus {
          border-bottom-color: #fff;
        }
      }
    }
  }
}

.form-control.select2-container {
  z-index: 1;
  &.select2-container-active.select2-dropdown-open.open {
    z-index: 3;
  }
}

a.disabled-link {
  pointer-events: none;
}

.app-logo, .app-logo + h5 {
  cursor: pointer;
  border: 5px solid transparent;
}

.app-logo + h5 {
  margin-top: -4px;
}

ul.dropdown-menu > li > a {
  margin-top: -6px;
  margin-bottom: -6px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#modalabout .version {
  margin-top: 4px;
  margin-right: 15px;
}

.timeBoxNotes {
  .btn-sm.pull-right {
    margin-bottom: 5px;
  }
}

form[name="formHolder.timeBoxNotesTemplateForm"] {
  .panel-light {
    border-bottom-width: 0;
    .panel-heading {
      opacity: 0.3;
      &.open, &:hover {
        opacity: 1.0;
      }
    }
  }
}