@light-bg: #F5F5F5;
@body-bg: #fff;
@view-bg: #fafafa;

@postit-border: @btn-default-border;
@postit-border-blue: #b5c7eb;
@postit-content-height: 77px;

@postit-width: 200px;
@postit-height: 160px;

@postit-width-sm: 170px;
@postit-height-sm: 118px;

@postit-width-xs: 65px;
@postit-height-xs: 45px;

@font-size-postit-sm: 15px;
@line-height-postit-sm: 1;
@lines-to-show-postit-sm: 3;

@font-size-postit: 13px;
@line-height-postit: 1.4;
@lines-to-show-postit: 4;

@invert-color: #FFFFFF;

@min-height-textarea: 150px;
@max-height-textarea: 250px;

@logo-color-top: #FFCC04;
@logo-color-middle: #1C3660;
@logo-color-bottom: #42A9E0;
@logo-color-top-gray: #EEEEEE;
@logo-color-middle-gray: #CCCCCC;
@logo-color-bottom-gray: #AAAAAA;

@state-suggested: #AAAAAA;
@state-accepted: @logo-color-top;
@state-estimated: #FF9933;
@state-planned: #CC3300;
@state-inProgress: #42A9E0;
@state-done: #009900;

@effort-normal: #009900;
@effort-abitmuch: #FF9933;
@effort-toomuch: #CC3300;

@state-suggested-light: #EEE;
@state-inProgress-light: #DAF4FF;
@state-done-light: #E1F5CC;
@state-shifted-light: #F8A887;

// iceScrum navbar
@navbar-masthead-default-color: #bbb;
@navbar-masthead-default-bg: darken(#444, 10%);
@navbar-masthead-default-link-color: #ccc;
@navbar-masthead-default-link-hover-color: #fff;
@navbar-masthead-default-link-disabled-color: #777;
@navbar-masthead-default-border: #444;
@navbar-masthead-default-brand-color: @navbar-masthead-default-link-color;
@navbar-masthead-default-brand-hover-color: @navbar-masthead-default-link-color;
@navbar-masthead-default-brand-hover-bg: transparent;