.select2-container .select2-choice {
    color: #000000;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
    font-size: 11px;
    line-height: 20px;
    height: 20px;
    border-color: #cacaca;
    background: #ffffff;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 20px;
}

.select2-container .select2-choice abbr {
    top: 6px;
    background-position: right -2px;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -13px;
}

.select2-results .select2-result-label {
    padding-top: 1px;
    padding-bottom: 1px;
}

.select2-drop-active {
    border-color: #8fabc0;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top-color: #8fabc0;
}

.select2-drop {
    border-top: 0;
}

.select2-container .select2-choice .select2-arrow {
    border: 0;
    background: #ffffff;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.select2-container .select2-choice .select2-arrow b {
    background-position: 0 -2px;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    background: #ffffff;
}

.select2-search input {
    border-color: #cacaca;
}

.select2-search {
    font-size: 11px;
    min-height: 20px;
}

.select2-search input {
    height: 24px !important;
    min-height: 20px;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border-color: #8fabc0;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.select2-dropdown-open .select2-choice {
    background: #ffffff
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border-color: #64a8f4;
}


.select2-dropdown-open .select2-choice .select2-arrow {
    background: #ffffff;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px -2px;
}

.select2-results {
    font-size: 11px;
}

.select2-results li {
    padding: 0;
}

.select2-results .select2-highlighted {
    border: 1px solid #2890f0;
    text-shadow: rgba(0, 0, 0, 0.6) 1px 1px 0px;;
    background: rgb(116,180,245); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(116,180,245,1) 0%, rgba(88,164,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(116,180,245,1)), color-stop(100%,rgba(88,164,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(116,180,245,1) 0%,rgba(88,164,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(116,180,245,1) 0%,rgba(88,164,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(116,180,245,1) 0%,rgba(88,164,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#74b4f5', endColorstr='#58a4f4',GradientType=0 ); /* IE6-9 */
}


.select2-default {
    color: #6d6d6d !important;
}

/* Multi select (tags...) */

.select2-container-multi .select2-choices {
    font-size: 11px;
    border-radius: 2px;
    border-color: #cacaca;
    background: #ffffff /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.select2-container-multi.select2-container-active .select2-choices {
    border-color: #8fabc0;
    background: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select2-container-multi .select2-choices .select2-search-field input {
    color: #000000;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.8);
}

.select2-container-multi .select2-choices .select2-search-choice {
    background: #ffffff;
    border-color: #cacaca;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #ebebeb;
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(235,235,235,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

/* Title bars */

.title-bar-select2.select2-container .select2-choice {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.6);
    text-align: right;
    color: white;
    background: none;
    border: 0;
}

.title-bar-select2.select2-container .select2-chosen {
    line-height: 20px;
    font-weight: bold;
}

.title-bar-select2.select2-container .select2-choice .select2-arrow {
    background: none;
}

.title-bar-select2.select2-dropdown-open .select2-choice .select2-arrow {
    background: none;
}

.title-bar-select2.select2-drop-active {
    margin-left:5px;
    margin-top:3px;
}

.title-bar-select2 .select2-search {
    margin-top: 3px;
}