.ui-autocomplete-loading {
    background: white url(../images/ui/ui-anim_basic_16x16.gif) right center no-repeat;
}

ul.tagit {
    cursor: text;
    overflow: auto;
    font-size: 14px;
    width: 400px;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: white;
    float: left;
    margin-left: 5px;
    color: #555;
}

ul.tagit li {
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
    position: relative;
}

ul.tagit.ui-sortable li.tagit-choice a.ui-icon.ui-icon-grip-dotted-vertical{
    float: left;
    width: 12px;
    margin-left: -5px;
    cursor: move;
}

ul.tagit li.tagit-choice {
    background-color: #f7f7f7;
    border: 1px solid #f2f2f2;
    padding: 0px 15px 0px 4px;
}

ul.tagit li.tagit-choice.selected {
    background-color: #f5b0b0;
    border-color: #f76464;
}

ul.tagit li.tagit-choice:hover {
    background-color: #f2f2f2;
    border-color: #e0e0e0;
}

ul.tagit li.tagit-new {
    padding: 0;
    margin: 0;
}

.field-input .tagit-new .input {
    padding-top:2px;
    padding-left:0px;
}

.field-input .tagit-new .input input {
    width:100px;
}

ul.tagit li.tagit-choice a.tagit-close {
    color: #777777;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    outline: medium none;
    padding: 2px 0 2px 3px;
    text-decoration: none;
    position: absolute;
    display: block;
    top: -2px;
    right: 3px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

ul.tagit li.tagit-choice a.tagit-close:hover {
    color: #535353;
}

.tagit-hiddenSelect {
    display:none;
}