@import (reference) "../vendors/bootstrap/less/forms.less";
@import (reference) "../vendors/bootstrap/less/responsive-utilities.less";
@import (reference) "../vendors/todc/less/todc-bootstrap.less";
@import (reference) "./variables.less";
@import (reference) "./mixin.less";

body {
  overflow: hidden;
  >.container-fluid {
    opacity:1;
    display: flex;
    flex-flow: column;
    height: 100%;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
  }
  &.loading {
    cursor: progress;
  }
  &.loading {
    &.splash-screen {
      > #app-loading {
        .make-row();
        display: block;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        .translate(0, -50%);
        .logo {
          height: 250px;
          width: 250px;
          margin-left: 50%;
          .translate(-50%; 0);
        }
        .loading-circle {
          stroke:@navbar-masthead-default-bg;
          stroke-width: 10px;
          stroke-linecap: butt;
        }

        > div:first-of-type {
          .make-xs-column(6);
          .make-sm-column(4);
          .make-xs-column-offset(3);
          .make-sm-column-offset(4);
          top: 50%;
          margin-top: -9px;
        }
      }
      > .container-fluid {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
  > #app-loading {
    display: none;
  }
}


body > .container-fluid > .header {

  .navbar-icescrum.navbar-default {
    background-color: @navbar-masthead-default-bg;
    border-color: @navbar-masthead-default-border;
    border-radius: 0;

    .navbar-brand {
      color: @navbar-masthead-default-brand-color;
      &:hover,
      &:focus {
        color: @navbar-masthead-default-brand-hover-color;
        background-color: @navbar-masthead-default-brand-hover-bg;
      }
      > .caret {
        border-top-color: @navbar-masthead-default-brand-color;
        border-bottom-color: @navbar-masthead-default-brand-color;
      }
    }

    .navbar-text {
      color: @navbar-masthead-default-color;
    }

    .navbar-nav {
      > li > a {
        color: @navbar-masthead-default-link-color;

        &:hover,
        &:focus {
          color: @navbar-masthead-default-link-hover-color;
          background-color: @navbar-masthead-default-link-hover-bg;
        }
      }
      > .active > a {
        &,
        &:hover,
        &:focus {
          color: @navbar-masthead-default-link-active-color;
          background-color: @navbar-masthead-default-link-active-bg;
        }
      }
      > .disabled > a {
        &,
        &:hover,
        &:focus {
          color: @navbar-masthead-default-link-disabled-color;
          background-color: @navbar-masthead-default-link-disabled-bg;
        }
      }
    }

    .navbar-toggle {
      border-color: @navbar-masthead-default-toggle-border-color;
      &:hover,
      &:focus {
        background-color: @navbar-masthead-default-toggle-hover-bg;
      }
      .icon-bar {
        background-color: @navbar-masthead-default-toggle-icon-bar-bg;
      }
    }

    .navbar-collapse,
    .navbar-form {
      border-color: darken(@navbar-masthead-default-bg, 7%);
    }

    // Dropdown menu items
    .navbar-nav {
      // Remove background color from open dropdown
      > .open > a {
        &,
        &:hover,
        &:focus {
          background-color: @navbar-masthead-default-link-active-bg;
          color: @navbar-masthead-default-link-active-color;
        }
      }

      @media (max-width: @grid-float-breakpoint-max) {
        // Dropdowns get custom display when collapsed
        .open .dropdown-menu {
          > li > a {
            color: @navbar-masthead-default-link-color;
            &:hover,
            &:focus {
              color: @navbar-masthead-default-link-hover-color;
              background-color: @navbar-masthead-default-link-hover-bg;
            }
          }
          > .active > a {
            &,
            &:hover,
            &:focus {
              color: @navbar-masthead-default-link-active-color;
              background-color: @navbar-masthead-default-link-active-bg;
            }
          }
          > .disabled > a {
            &,
            &:hover,
            &:focus {
              color: @navbar-masthead-default-link-disabled-color;
              background-color: @navbar-masthead-default-link-disabled-bg;
            }
          }
        }
      }
    }


    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.

    .navbar-link {
      color: @navbar-masthead-default-link-color;
      &:hover {
        color: @navbar-masthead-default-link-hover-color;
      }
    }

    .btn-link {
      color: @navbar-masthead-default-link-color;
      &:hover,
      &:focus {
        color: @navbar-masthead-default-link-hover-color;
      }
      &[disabled],
      fieldset[disabled] & {
        &:hover,
        &:focus {
          color: @navbar-masthead-default-link-disabled-color;
        }
      }
    }
  }

  .logo {
    margin-right: 5px;
    margin-left: -10px;
    margin-bottom: -6px;
    cursor:pointer;
  }
  .navbar-masthead {
    margin-bottom: 0;
    .navbar-nav {
      margin: 8px 0;
    }
    .navbar-nav.menubar {
      > li {
        &.menuitem {
          border: 1px solid transparent;
          margin-top: -2px;
        }
        &.menuitem.active {
          &:after {
            position: absolute;
            bottom: -10px;
            left: 50%;
            display: inline-block;
            margin-left: -8px;
            content: '';
            border-right: 8px solid transparent;
            border-bottom: 8px solid @view-bg;
            border-left: 8px solid transparent;
          }
        }
        > a {
          padding-bottom: 5px;
          padding-top: 5px;
        }
      }
      &.sortable, .sortable {
        .menuitem:hover {
          .handle {
            visibility: visible;
          }
        }
      }
    }
    .navbar-right {
      form.navbar-form {
        max-width: 200px;
      }
      margin-right: 0;
    }
  }

  .navbar-user {
    margin-top: 6px;
    cursor: pointer;
  }
  .navbar-notif {
    margin: 9px 15px 0 0;
    height: 28px;
    width: 28px;
    position: relative;
    cursor: pointer;
    .fa {
      font-size: 28px;
      color:#fff;
      &.empty {
        color:#ccc;
      }
    }
    .badge {
      position: absolute;
      top: 15px;
      left: 5px;
      background: none;
      color: #fff;
    }
  }
  .notifications {
    .disable-text-selection;
    width: 500px;
    max-height: 500px;
    overflow: auto;
    padding:15px;
    .media {
      opacity:0.5;
      &.unread, &:hover {
        opacity: 1;
      }
    }
    h4 {
      margin:0;
      a {
        color:#000;
      }
    }
  }
  .profile-panel {
    width: 400px;
    padding: 15px;
    .btn-toolbar {
      margin-top: 10px;
      .btn {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  li.project a {
    .text-overflow();
    width: 185px;
    &.active {
      font-weight: bold;
    }
  }
}

body > .container-fluid > .main {
  flex: 1;
  display: flex;
  //view
  > .view {
    background: @view-bg;
    > .navbar-toolbar {
      padding: 5px 5px 0;
      border: none;
      margin-bottom: 0;
      background-color: rgba(255, 255, 255, 0.8);
      > .container-fluid {
        padding: 0;
        margin: 0;
        .btn-toolbar:first-child {
          margin-left: 0;
          :first-child {
            margin-left: 0;
          }
        }
      }
    }
    &:not(.no-flex) {
      flex: 1;
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
      //col-md etc..
      > div {
        display: flex;
        .panel {
          flex: 1;
          display: flex;
          flex-flow: column;
          margin-bottom: 0;
          position: relative;
          > div.panel-heading {
          }
          > div.panel-body {
            div.panel-loading {
              display:none;
            }
            &.loading > div.panel-loading {
              position:absolute;
              top:50%;
              left:50%;
              z-index:1000;
              margin-left: -50px;
              display: block;
              opacity:1;
              .logo {
                height:100px;
                width:100px;
              }
            }
            &.loading > div:not(.panel-loading) {
              opacity: 0;
            }
            > div:not(.panel-loading) {
              -webkit-transition: opacity 0.1s ease-in-out;
              -moz-transition: opacity 0.1s ease-in-out;
              -ms-transition: opacity 0.1s ease-in-out;
              -o-transition: opacity 0.1s ease-in-out;
            }
            flex: 1;
            padding-top: 0;
            margin-top: 15px;
            overflow-y: auto;
            overflow-x: hidden;
          }
          > div.panel-footer {
            //nothing
          }
        }
      }
    }

    > .content {
      flex-flow:column;
      .make-md-column(12);
      // TODO check or improve way to space columns in dashboard  home
      .panel-column {
        .make-md-column(6);
        .panel-light {
          margin-bottom: 0;
        }
        > div:not(:last-child) {
          margin-bottom: 15px;
        }
        padding-right:0;
      }
      .panel-column:first-of-type {
        padding-left:0;
      }
      // end TODO
    }
    > [ui-view='details'] {
      display: none;
    }

    &.with-details {
      > .content {
        .make-md-column(8);
      }
      > [ui-view='details'] {
        .make-md-column(4);
        padding-left: 0;
        > .panel {
          > .panel-heading {
            padding: 0;
            > .panel-title {
              padding:15px;
            }
            > .progress-container {
              padding-left: 15px;
              padding-right: 15px;
            }
          }
        }
        > .panel > [ui-view='details-tab'] {

          form.form-editable:not(:hover):not(.form-editing), form:not(.form-editable) {
            .form-control {
              background: none;
              border-color: transparent;
              cursor: text;
              box-shadow: none;
              resize: none;
            }
            .form-control.important {
              .well;
              .well-sm;
            }
            .atwho-preview, textarea {
              min-height: 0;
            }
            .input-group-btn {
              visibility:hidden;
            }
            .input-group-addon {
              border-right: 1px solid #d9d9d9;
            }
            .select2-container {
              box-shadow: none;
              .select2-choice, .select2-choices {
                &, &:hover {
                  background: none;
                  border-color: transparent;
                  cursor: text;
                  box-shadow: none;
                  .select2-arrow {
                    display: none;
                  }
                  .select2-search-choice-close{
                    display:none;
                  }
                }
              }
            }
            .form-group div {
              border-color: transparent;
            }
          }

          form.form-editable {
            .panel-footer {
              .responsive-invisibility();
            }
            &.form-editing {
              .markitup-preview {
                border-color: rgb(217, 217, 217);
                border-top-color: rgb(192, 192, 192);
              }
              .panel-footer {
                .responsive-visibility();
              }
            }
          }

          form.form-editable:hover {
            .markitup-preview {
              border-color: rgb(217, 217, 217);
              border-top-color: rgb(192, 192, 192);
            }
            .input-group-addon {
              border-right:0;
            }
          }

          form:not(.form-editable) {
            .panel-footer {
              .responsive-invisibility();
            }
          }

          form {
            .markitup-preview.important, .atwho-preview.important, textarea.important {
              .well;
              .well-sm;
            }
          }

          .form-deletable, .deletable {
            .visible-deletable {
              .responsive-invisibility();
            }
            .hidden-deletable {
              .responsive-visibility();
            }
            &:hover .visible-deletable {
              .responsive-visibility();
            }
            &:hover .hidden-deletable {
              .responsive-invisibility();
            }
          }

          form:not(.form-deletable) {
            .visible-deletable {
              .responsive-invisibility();
            }
            .hidden-deletable {
              .responsive-visibility();
            }
          }

          flex: 1;
          display: flex;
          flex-flow: column;
          overflow: hidden;
          > form {
            flex: 1;
            display: flex;
            flex-flow: column;
            overflow: hidden;
            .panel-body {
              flex: 1;
              overflow: auto
            }
          }
          .panel-body {
            flex: 1;
            overflow: auto;
          }
          .panel-footer {
            padding: 0;
            > div:first-child {
              padding: 15px;
            }
          }
        }
      }
    }
  }
}

.modal-xxl {
  width: 98%;
  margin: 1% auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  .modal-content {
    height: 100%;
  }
  .modal-header {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
  .modal-footer {
    left: 0;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .modal-body {
    bottom: 69px;
    left: 0;
    position: absolute;
    right: 0;
    top: 56px;
  }
}

.comments, .tasks, .activities, .acceptanceTests {
  .form-control-static {
    display: block;
    padding-left: 9px;
    padding-right: 9px;
  }
  hr {
    width: 50%;
    margin: 10px auto;
  }
  > div:last-of-type {
    hr {
      display: none;
    }
  }
  .table {
    td {
      padding:0;
      border:none;
    }
  }
  .markitup-preview {
    min-height:inherit;
    max-height:inherit;
  }
}

#view-backlog, #view-releasePlan {
  .content {
    .backlogs-list {
      background: @panel-bg;
      border:1px solid @btn-default-border;
      border-bottom-width: 0;
      hr {
        margin: 15px 10% 0;
        padding-bottom:1px;
      }
      .btn-toolbar {
        padding:15px;
        padding-bottom: 0;
        margin-left:0;
        div:first-child {
          margin-left:0;
        }
        .btn.btn-backlog {
          i {
            padding-right:12px;
            margin-right:12px;
            border-right: 1px solid @btn-default-border;
          }
          .badge {
            background: none;
            display: inline-block;
            text-align: right;
            font-weight: bold;
            top: 5px;
            color: #000;
            padding: 0;
            margin: 0;
          }
          &.shown {
            border-color:@input-border-focus;
            i {
              color:@brand-primary;
            }
            color:@brand-primary;
            .badge {
              color: @brand-primary;
            }
          }
        }
        .btn-group.btn-view {
          margin-right:10px;
          &.visible-on-hover {
            opacity: 0;
            transition: opacity 0.3s ease 0s;
          }
        }
      }
    }
    .backlogs-list-details {
      flex: 1;
      display: flex;
      flex-flow: row;
      overflow: hidden;
      div.panel{
        border-top-width: 0;
        border-left-width: 0;
        &:first-of-type {
          border-left-width:1px;
        }
        .panel-body {
          padding-left:9px;
          padding-right:9px;
        }
      }
    }
    &:hover {
      .backlogs-list {
        .btn-toolbar {
          .btn-group.btn-view {
            &.visible-on-hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

div.panel-heading {
  padding:15px;
}

div.panel-body {
  padding: 15px;
  div.panel-loading {
    display: none;
  }
  &.loading > div.panel-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    margin-left: -15px;
    display: block;
    opacity: 1;
  }
  &.loading > div:not(.panel-loading) {
    opacity: 0;
  }
  > div:not(.panel-loading) {
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
  }
}

//usefull when sortable container is empty
.as-sortable-un-selectable #view-home *[as-sortable] {
  padding-top:25px;
  padding-bottom:25px;
}

// TODO REMOVE HACK
#view-sprintPlan > .content table {
  width: 100%;
  border-spacing: 0;
  thead, tbody, tr, th, td { display: block; }
  thead tr {
    width: 100%
  }
  tr:after {  /* clearing float */
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  tbody {
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
  tbody td, thead th {
    float: left;
  }
}
// END TODO REMOVE HACK
