@import (reference) "../vendors/bootstrap/less/forms.less";
@import (reference) "../vendors/bootstrap/less/responsive-utilities.less";
@import (reference) "../vendors/todc/less/todc-bootstrap.less";
@import (reference) "./variables.less";
@import (reference) "./mixin.less";

.as-sortable-placeholder {
  margin: 6px;
}

.standalone {
  .postit-container {
    font-family: "Myriad Pro", Arial, sans-serif;
    float: left;
    padding: 0;
    margin: 0 30px 10px 0;

    .postit {
      z-index: 10;
      .grid-group .postit-container .postit;
      background: white;
    }
    &.stack {
      margin-bottom: 20px;
      &:before, &:after {
        width: 196px;
        height: 145px;
        color: @gray;
        border: 1px solid @postit-border;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .25), inset 0 0 3px rgba(255, 255, 255, .75);
        content: "";
        position: absolute;
        -webkit-transition: 0.3s all ease-out;
        -moz-transition: 0.3s all ease-out;
        transition: 0.3s all ease-out;
        background: white;
        opacity: 0.8;
      }
      @postit-stack-offset: 4px;
      &:before {
        z-index: 1;
      }
      &:after {
        top: 0;
        z-index: 0;
      }
      @postit-twisted-offset: 4deg;
      &.twisted {
        &:before {
          -webkit-transform: rotate(@postit-twisted-offset);
          -moz-transform: rotate(@postit-twisted-offset);
          transform: rotate(@postit-twisted-offset);
        }
        &:after {
          -webkit-transform: rotate(-@postit-twisted-offset);
          -moz-transform: rotate(-@postit-twisted-offset);
          transform: rotate(-@postit-twisted-offset);
        }
      }
      &:hover {
        &:before {
          -webkit-transform: rotate(0deg) translateX(@postit-stack-offset);
          -moz-transform: rotate(0deg) translateX(@postit-stack-offset);
          transform: rotate(0deg) translateX(@postit-stack-offset);
        }
        &:hover:after {
          -webkit-transform: rotate(0deg) translateX(2 * @postit-stack-offset);
          -moz-transform: rotate(0deg) translateX(2 * @postit-stack-offset);
          transform: rotate(0deg) translateX(2 * @postit-stack-offset);
        }
      }
    }
  }
}

.grid-group {
  &.has-selected {
    > .postit-container:not(.is-selected) {
      opacity: 0.5;
      &:hover, &:focus {
        opacity: 1;
        transition: opacity 0.25s linear;
        -o-transition: opacity 0.25s linear;
        -moz-transition: opacity 0.25s linear;
        -webkit-transition: opacity 0.25s linear;
      }
    }
    .postit-container.is-selected {
      .postit {
        border: 1px solid @brand-primary;
      }
    }
  }
  .as-sortable-placeholder {
    float: left;
  }
  .postit-container {
    font-family: "Myriad Pro", Arial, sans-serif;
    float: left;
    padding: 0;
    margin: 6px;
    &.is-selected {
      padding: 5px;
      margin: 1px;
    }
    .postit {
      width: 200px;
      height: 160px;
      padding: 0 5px;
      position: relative;
      color: @gray;
      border: 1px solid @postit-border;
      border-radius: 2px;
      &.invert {
        color: @invert-color;
        .hover-progress {
          color: @gray;
        }
        .head {
          a.follow {
            color: @invert-color;
            text-decoration: none;
          }
          .estimation, .value {
            text-shadow: 0 1px 1px rgba(255, 255, 255, .15);
          }
        }
        .content {
          text-shadow: 0 1px 0 #999;
        }
        .tags {
          a:hover {
            .tag {
              background-color: rgba(0, 0, 0, 0);
            }
          }
          .tag {
            background: rgba(0, 0, 0, 0.2);
            color: @invert-color;
          }
        }
        .actions {
          > .action {
            i {
              color: @invert-color;
            }
            a .badge {
              color: @invert-color;
            }
          }
        }
      }
      .head {
        .id, .estimation, .value {
          display: inline-block;
        }
        .id {
          padding-top: 2px;
        }
        .estimation, .value, .remaining-time {
          font-size: 16px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
          position: absolute;
          i {
            font-size: 0.6em;
          }
          &.editable {
            cursor: pointer;
          }
        }
        .estimation {
          right: 55px;
        }
        .value, .remaining-time {
          right: 25px;
        }
        .responsible {
          display: block;
          position: absolute;
          left: 33px;
          height: 18px;
          width: 18px;
        }
      }
      .content {
        height: 82px;
        text-shadow: 0 1px 0 #fff;
        padding-right: 10px;
        padding-left: 10px;
        h3.title {
          margin: 0;
          font-size: 16px;
          text-align: center;
          max-height: @postit-content-height;
        }
        .description {
          visibility: hidden;
          display: inline-block;
          max-height: @postit-content-height;
        }
        .description-template {
          display: inline-block;
          font-size: 12px;
          font-style: italic;
          overflow: hidden;
          max-height: @postit-content-height;
        }
      }
      .tags {
        height: 18px;
        text-align: right;
        a:hover {
          text-decoration: none;
          .tag {
            background-color: rgba(255, 255, 255, 1);
          }
        }
        .tag {
          color: @gray;
          margin-right: 4px;
          background-color: rgba(255, 255, 255, .6);
          font-size: 10px;
          padding: 1px 2px;
          border-radius: 2px;
        }
      }
      .actions {
        text-align: center;
        > .action {
          width: 33px;
          text-align: center;
          display: inline-block;
          > * {
            visibility: hidden;
          }
          &.active {
            > * {
              visibility: visible;
            }
          }
        }
      }
      .progress {
        height: 13px;
        margin-bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        border: none;
        color: @gray;
        background: rgba(255, 255, 255, 0.6);
        .progress-bar {
          text-align: left;
          background: rgba(255, 255, 255, 0.9);
          &.bg-success {
            .bg-variant(darken(@state-success-bg, 20%))
          }
          &.bg-danger {
            .bg-variant(darken(@state-danger-bg, 20%))
          }
        }
        .status {
          top: 3px;
          left: 5px;
          position: absolute;
          font-size: 10px;
          line-height: 10px;
          display: none;
          font-weight: bold;
        }
      }
      .state {
        right: 5px;
        bottom: 2px;
        font-size: 10px;
        line-height: 10px;
        position: absolute;
        margin-top: 1.5px;
        font-weight: bold;
      }
      &:hover {
        .content {
          .title div {
            .text-overflow();
          }
          .description {
            font-size: 12px;
            font-style: italic;
            overflow: hidden;
            visibility: visible;
          }
        }
        .actions {
          > .action * {
            visibility: visible;
          }
        }
        .progress {
          .status {
            display: inline-block;
          }
        }
      }
    }
    position: relative;
    .postit {
      &.defect:after, &.functional:after, &.architectural:after, &.task-blocked:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 2px;
        border: 11px solid;
        display: block;
        -webkit-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
        width: 0;
        z-index: 1;
      }
      &.defect:before, &.functional:before, &.architectural:before, &.task-blocked:before {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 12px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
        z-index: 2;
        top: 1px;
        right: 1px;
        position: absolute;
      }
      &.defect:after, &.task-blocked:after {
        border-color: @brand-danger @brand-danger transparent transparent;
      }
      &.defect:before {
        content: "\f188";
      }
      &.task-blocked:before {
        padding-right: 4px;
        content: "\f12a";
      }
      &.functional:after {
        border-color: @brand-info @brand-info transparent transparent;
      }
      &.functional:before {
        content: "\f085";
      }
      &.architectural:after {
        border-color: @brand-success @brand-success transparent transparent;
      }
      &.architectural:before {
        content: "\f085";
      }
      &.postit-small {
        width: 175px;
        height: 115px;
        .content {
          h3.title {
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            max-width: 400px;
            height: @font-size-postit-small*@line-height-postit-small*@lines-to-show-postit-small; /* Fallback for non-webkit */
            margin: 0 auto;
            font-size: @font-size-postit-small;
            line-height: @line-height-postit-small;
            -webkit-line-clamp: @lines-to-show-postit-small;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          height: @font-size-postit-small*@line-height-postit-small*@lines-to-show-postit-small;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      .hidden-table {
        display: inline-block;
      }
      .visible-table {
        display:none;
      }
    }
  }
}

.list-group {
  .postit-container {
    .postit {
      display: flex;
      position: relative;
      > .state {
        display: none;
      }
      > .content {
        flex: 1 1 auto;
        padding: 4px 4px 4px 8px;
        .id:after {
          content:' - ';
        }
        > h3 {
          display: inline;
          font-size: 16px;
          margin: 0;
          > div {
            display: inline;
          }
        }
        > .description {
          display: none;
        }
      }
      > .content, > .footer, > .numbers {
        background: #fff;
        color: #555555;
      }
      .numbers {
        flex: 0 0 auto;
        font-size: 16px;
        line-height: 1.1;
        text-align: right;
        vertical-align: middle;
        padding: 5px 25px 5px 8px;
        border-left: 1px solid #dcdcdc;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .15);
      }
      > .head {
        flex: 0 0 auto;
        padding: 4px 8px;
        background: none;
        > * {
          line-height: 1.1;
          vertical-align: middle;
        }
        .value, .estimation {
          display: none;
        }
      }
      > .footer {
        padding-right: 8px;
        text-align: right;
        flex: 1 0 160px;
        .action {
          padding: 2px 4px;
          font-size: 16px;
          display: inline-block;
        }
      }
      &.defect:after, &.functional:after, &.architectural:after, &.task-blocked:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border: 13px solid;
        display: block;
        width: 0;
        z-index: 1;
      }
      &.defect:before, &.functional:before, &.architectural:before, &.task-blocked:before {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 12px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #fff;
        z-index: 2;
        top: 1px;
        right: 1px;
        position: absolute;
      }
      &.defect:after, &.task-blocked:after {
        border-color: @brand-danger @brand-danger transparent transparent;
      }
      &.defect:before {
        content: "\f188";
      }
      &.task-blocked:before {
        padding-right: 4px;
        content: "\f12a";
      }
      &.functional:after {
        border-color: @brand-info @brand-info transparent transparent;
      }
      &.functional:before {
        content: "\f085";
      }
      &.architectural:after {
        border-color: @brand-success @brand-success transparent transparent;
      }
      &.architectural:before {
        content: "\f085";
      }
      .hidden-table {
        display: none;
      }
      .visible-table {
        display: inline-block;
      }
    }
  }
}

.postit {
  .head {
    a.follow {
      color: @gray;
      vertical-align: top;
      font-size: 16px;
    }
  }
  .id {
    cursor: pointer;
    font-size: @font-size-base;
    font-weight: 700;
  }
}

.invert {
  .head {
    a.follow {
      color: #fff;
    }
  }
}

.badge {
  background: none;
  display: inline;
  padding: 0;
  font-size: 10px;
  border-radius: 0;
  color: @gray;
}

.actions {
  a {
    text-decoration: none;
  }
  i {
    color: @gray;
    &.fa-comment-o {
      vertical-align: text-top;
    }
  }
  font-family: @font-family-base;
}