@light-bg: #F5F5F5;
@body-bg: #fff;

@state-suggested: #FFCC33;
@state-accepted: #0044CC;
@state-estimated: #0099CC;
@state-planned: #CC3300;
@state-inProgress: #FF9933;
@state-done : #009900;

@postit-border: @btn-default-border;
@postit-border-blue: #b5c7eb;
@postit-content-height: 70px;

@invert-color : #FFFFFF;

@fromTop: 46px;
@min-height-textarea: 100px;
@max-height-textarea: 300px;